.solid-logo {
    position: absolute;
    left: 60%;
    top:10%;
    transform: rotate(-7.5deg);
    width:40%;
}

.solid-logo:hover {
    transition: transform 2s ease-in-out;
    
    transform: rotate(20deg);
}