.solid-logo {
    transition: transform 2s ease-in-out;
    position: absolute;
    left: 60%;
    top:10%;
    transform: rotate(-20deg);
    width:30%;
    height:80%
}

.solid-logo:hover {
    transition: transform 2s ease-in-out;
    transform: rotate(20deg);
    
}