table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position: absolute;
    left:10%;
    top:40%;
    width: 80%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}