table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position: absolute;
    left:0%;
    top:40%;
    width: 90%;
    color:white;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
